<h1 class="station_name"><%= @station.name %></h1>

<h2>Info</h2>
  <h5 class="city">City: <%= @station.city.name%> </h5>
  <h5 class="dock">Dock Count: <%= @station.dock_count.dock_number%></h5>
  <h5 class="install_date">Installation Date: <%= @station.installation_date.installation_date%></h5>
