<div class="container">
  <table class="table">
    <tr>
      <th>Station Name</th>
      <th>City</th>
      <th>Dock Count</th>
      <th>Installation Date</th>
    </tr>
    <tr>
      <td class="station-name"><%= @station.name %></td>
      <td class="city"><%= @station.city.name%></td>
      <td class="dock"><%= @station.dock_count%></td>
      <td class="install_date"><%= @station.installation_date%></td>
    </tr>
  </table>
</div>
