<ul class="nav nav-pills custom-nav">
  <li><a href='/'>Home</a></li>
  <li role="presentation" class="dropdown custom-dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Stations <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href='/stations'>Stations</a></li>
      <li><a href='/stations/new'>New Station</a></li>
      <li><a href='/station-dashboard'>Station Dashboard</a></li>
    </ul>
  </li>
  <li role="presentation" class="dropdown custom-dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Trips <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href='/trips'>Trips</a></li>
      <li><a href='/trips/new'>New Trip</a></li>
    </ul>
  </li>
</ul>
