.custom-nav li a {
  text-decoration: none;
  color: black;
}

.custom-nav {
  padding: 10px 0 10px 0;
  color: black;
  background: #c4c4c4;
}

td, th {
	padding: 5px;
	border: 1px solid black;
	text-align: center;
}

body {
	padding: 10px;
}