<div class= "home-page">

  <div class="jumbotron banner">
      <div class="container">
        <hgroup>
          <h1>
            Bike-Share
          </h1>
          <h2 class="blurb" >
            Single-origin coffee austin occupy keffiyeh sartorial. Knausgaard mlkshk cred four dollar toast, activated charcoal vaporware chicharrones.
          </h2>
        </hgroup>
      </div>
  </div>

  <div class = "container tid-bits">

    <div class = "row">
      <div class="col-md-4 descriptors">
        <h4>Stations</h4>
        <p>
          YOLO cray put a bird on it, shabby chic pug tattooed bicycle rights. Stumptown direct trade iceland, disrupt activated charcoal coloring book vaporware trust fund hella tbh craft beer 8-bit wayfarers schlitz kogi
        </p>
      </div>
      <div class="col-md-4 descriptors">
        <h4>Trips</h4>
        <p>
          Cred pabst yuccie, iceland migas sriracha vape disrupt neutra aesthetic craft beer DIY bitters paleo. Mustache vice stumptown forage typewriter. Selfies food truck letterpress celiac blog.
        </p>
      </div>
      <div class="col-md-4 descriptors">
        <h4>Weather</h4>
        <p>
          Organic waistcoat asymmetrical mumblecore, cardigan disrupt succulents. Tacos pitchfork ugh iPhone raclette, chartreuse hammock offal. Post-ironic skateboard bushwick meggings, copper mug everyday carry pug marfa.
        </p>
      </div>
    </div>

  </div>
</div>
